* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #67677A;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

body {
    padding: 0px;
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: rgba(255,255,255,0.5);
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wl-sidebar-wrapper {
    position: absolute;
    top: 110px;
    bottom: 0;
    left: 0;
}

.wl-sidebar {
    display: inline-block;
    height: 100%;
    background: #34343E;
}

.wl-main {
    display: inline-block;
    height: 100%;
    overflow: auto;
    background: #3D3D4F;
    overflow-x: hidden;
}

.ip-wrapper {
    padding: 40px;
}

.ip {
    display: inline-block;
    position: relative;
    width: 225px;
    padding: 5px;
    margin: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    color: #CCCCCC;
}

.danger {
    background: #80474D;
}

.ip-value {
    display: inline-block;
    width: 120px;
}

.ip-weight {
    display: inline-block;
    padding: 2px 5px;
    width: 45px;
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    background: #757496;
}

.message-btn, .mark-unsafe {
    margin-right: 10px;
    font-size: 13px;
    color: #AAAAAA;
    cursor: pointer;
}

.message-btn:hover, .mark-unsafe:hover {
    color: #EEEEEE;
}

.message-popup {
    display: none;
    position: absolute;
    top: 37px;
    left: 0;
    width: 225px;
    border: 1px solid #565670;
    border-radius: 8px;
    z-index: 999;
    background: #2F2F3D;
}

.message-popup textarea {
    display: block;
    width: 100%;
    height: 100px;
    padding: 5px;
    outline: none;
    border: 1px solid #47475C;
    color: #FFFFFF;
    background: #646482;
}

.message-popup button {
    display: block;
    width: 100%;
    outline: none;
    padding: 10px 15px;
    margin-top: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
    background: #FFFFFF;
}

.popup-wrapper {
    position: relative;
    padding: 10px;
}

.popup-wrapper:after {
    position: absolute;
    top: -20px;
    left: 50px;
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid rgba(0,0,0,0);
    border-left: 10px solid rgba(0,0,0,0);
    border-right: 10px solid rgba(0,0,0,0);
    border-bottom: 10px solid #2F2F3D;
}

.wl-parents-hidden, .wl-current-product {
    display: inline-block;
    top: 110px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.content {
    margin-left: 15px;
}

.content {
    width: 0;
    transition: width 0.3s;
}

.wl-sidebar-product li {
    position: relative;
}

.wl-product-info {
    position: absolute;
    top: 7px;
    right: 20px;
    bottom: 7px;
}

.wl-sidebar-product li:after {
    content: '';
    display: block;
    clear: both;
}

.wl-sidebar-product li a {
    float: left;
    display: inline-block;
    width: 180px;
    word-break: break-all;
}

.wl-parents-hidden .expanded, .wl-current-product .expanded {
    width: 350px;
}

.slide-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15px;
}

.slide-btn a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-right: 1px solid #5A5A6B;
    border-left: 1px solid #5A5A6B;
    background: #40404C;
    box-shadow: 5px 0 5px rgba(0,0,0,0.2);
}

.slide-btn a:hover {
    background: #4F4F5E;
}

.slide-btn a:after {
    content: '>';
    position: absolute;
    top: 50%;
    left: 4px;
}

.slide-btn .fold:after {
    content: '<';
}

.wl-parents-hidden li, .wl-current-product li {
    background: #34343E;
    padding: 10px 20px 10px 15px;
    border-top: 1px solid #252530;
    width: 350px;
}

.wl-parents-hidden li.active {
    background: #727287;
}

.wl-parents-hidden .content a, .wl-current-product a {
    color: #CCCCCC;
    text-decoration: none;
    font-size: 15px;
}

.wl-product-weight, .wl-product-amount {
    float: right;
    padding: 3px 10px;
    border-radius: 3px;
    color: #EEEEEE;
    width: 60px;
    text-align: center;
    background: #C75858;
}

.wl-product-amount {
    margin-right: 10px;

}

ul {
    margin: 0;
    padding: 0;
}

ol {
    margin: 0;
    padding: 0;
}

.wl-nav {
    height: 110px;
    background: #252530;
    border-bottom:solid 2px #A3161B;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.wl-nav .active {
    background: #FFFFFF;
}

.wl-nav .active a {
    color: #000000;
}

.wl-nav-left {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 110px;
    width: 150px;
    line-height: 110px;
    margin: 0px;
    text-align: center;
    box-shadow: 2px -2px 0 #34343E;
}


.wl-nav-right {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 150px;
}

.wl-head {
    text-decoration: none;
    margin:0;
    font-size: 30px;
    font-family: Times, TimesNR, 'New Century Schoolbook',Georgia, 'New York', serif;
    color: rgba(255,255,255,0.8);
}

.wl-head a:hover {
    color: #ffffff;
}

.wl-nav-rup {
    height: 55px;
    line-height: 55px;
    width: 100%;
}

.wl-search {
    float: right;
    padding-right: 50px;
}

.wl-breadcrumb {
    list-style: none;
    margin-left: 30px;
    margin-top: 0px;
}

.wl-breadcrumb li {
    display: inline-block;
    color:rgba(255,255,255,0.7);
    /*padding:0 3px;*/
}

.wl-breadcrumb li+li:before {
    content:'>';
}

.wl-nav-rdown {
    height: 53px;
    line-height: 53px;
}

.wl-nav-tab {
    list-style: none;
    float: right;
    margin-right: 47px;
}

.wl-nav-tab li {
    display: inline-block;
    color:rgba(255,255,255,0.7);
    /*padding: 5px;*/
    /*margin: 5px;*/
    width:100px;
    margin-left: 5px;
    background-color: #34343e;
    text-align: center;
    font-size: 18px;
    /*color: rgba(255,255,255,0.5);*/
}

.wl-nav-tab a {
    display: inline-block;
    line-height: 10px;
    padding: 13px;
}

.wl-breadcrumb a:hover,
.wl-nav-tab li a:hover {
    color: #90ef7f !important;
}

.wl-nav .active {
    background-color: #A3161B
}

.wl-nav .active a {
    color: #ffffff;
}

.wl-input {
    width: 200px;
    height: 25px;
    border-radius: 10px;
    outline:none;
    border-style: none;
    margin-right: 10px;
    padding:3px 6px;
}

.wl-input:focus {
     outline:none;
     border:#87C6F9 1px solid;
     box-shadow: 0 0 8px rgba(103, 166, 217, 1);
}

.wl-btn {
    border-style: none;
    background-color: #05B9FF;
    border-radius: 5px;
    width:70px;
    height: 25px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.wl-class-content {
    margin-left: 0px;
}

.wl-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.wl-tr th {
    color: #ffffff;
    /*text-align: center;*/
    padding: 14px;
    font-size: 18px;
    border-bottom: 1px solid #303030;
    text-transform: uppercase;
    border-top: 1px solid #303030;
}

.wl-tbody tr td {
    color: #AD9A9A;
    /*text-align: center;*/
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #303030;
}

.th-remark,.td-remark {
    border-right: 1px solid #303030;
}

.product-wrapper{
    padding-top: 5px;
}

.wl-tbody tr:nth-child(4n+2) {
    background-color: #333342;
}

ol.wl-pagination li {
    display: inline-block;
    padding: 12px;
}

/*.wl-pager {
    width:100%;
    height: 40px;
}*/

.wl-prev-page,.wl-next-page {
    height: 40px;
    width: 4%;
    float: left;
    text-align: center;
    line-height: 40px;
    display: inline;
}



.wl-pagination-container {
    width:90%;
    height: 40px;
    overflow: hidden;
    float:left;
}

.wl-pagination {
    width: 1000000px;
    /*float: left;*/
    position: relative;
    right: 0;
    /*overflow: hidden;*/
    
}

.wl-pagination li {
    display: inline-block;
}

