doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/icon-font.css')
    block extra_css
    script(type='text/javascript', src='/javascripts/jquery-2.1.0.min.js')
  body
    block content
    block extra_script