extends layout


block content
    .container.wl-index
        .jumbotron.wl-main
            h1.wl-header
                a(href='index.html') Zhidu
            p
              input.form-control.wl-index-search(type='text', placeholder='Search')
            - classes.forEach(function (item, index) {
                .col-sm-6.col-md-3.wl-tile
                    .wl-container
                        a.wl-class-link(href='/#{item.name}')
                            img(src='img/#{item.name}.jpg', alt='other', width='100%')
                            span.wl-title #{item.name}
            - })
    
