doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-editable.css')
    link(rel='stylesheet', href='/css/style.css')
    block extra_css
  body
    block content
    script(src='/js/jquery.min.js', type='text/javascript')
    script(src='/js/bootstrap.min.js', type='text/javascript')
    script(src='/js/bootstrap-editable.js', type='text/javascript')
    block extra_script
