extends layout

block content

    .wl-class
        include navbar.jade
        div.container-fluid
            div.row
                include sidebar.jade
                include main.jade
include script.jade
