block extra_script
    script.
        $(".wl-caret").on("click",function(event){
            event.preventDefault();
            event.stopPropagation();
            var self = this;
            if ($(self).parents("li").find(".wl-show-sub").is(":visible")) {
                $(self).parents("li").find(".wl-show-sub").hide();
                //- $(self).html("more");
            } else {
                var url = $(this).parent().attr("href"); 
                var reqUrl = "http://10.0.200.185:81/ls"+url;
                $.ajax({
                    type: "GET",
                    url: reqUrl,
                    crossDomain: true,
                    dataType: "jsonp",
                    success: function (data) {
                        var productData = data.product;
                        var len = productData.length;
                        $(self).parents("li").find(".wl-show-sub ul li").remove();
                        if(len > 0){
                            productData.forEach(function(item,index){
                                var subProduct = item.name;
                                var weight = item.weight;
                                var count = item.pcount;
                                var name = subProduct.split(".")[0];
                                $(self)
                                    .parents("li")
                                    .find(".wl-show-sub")
                                    .show()
                                    .find("ul")
                                    .append(
                                    $("<li><a href='"+url+"/"+subProduct+"'>"+
                                        name+"<span class='label label-info wl-caret'>"+count+"</span><span class='badge wl-sub-weight'>"+
                                        weight+"</a></li>"))
                            })
                        }else {
                            $(self)
                                .parents("li")
                                .find(".wl-show-sub")
                                .show()
                                .find("ul")
                                .find("li")
                                .remove()
                                .end()
                                .append($("<li class='no-child'>暂无子分类</li>"));
                        }
                        //- $(self).html("hide");
                    }
                })
            }
        })
        $(".wl-list a").each(function (index, item) {
            $(item).editable({
                title: "Input the value",
                type: "text",
                pk: $(this).data("id"),
                url: ""
            });
        });
 
        $(".wl-list a").editable("toggleDisabled");

        $(".table a").each(function (index, item) {
            $(item).editable({
                title: "Input the value",
                type: "text",
                pk: $(this).data("id"),
                url: "/wl/ip"
            });
        });

        $(".table a").editable("toggleDisabled");

        $("body").on("click", ".wl-edit-btn", function(){
            $(".table a").editable("toggleDisabled");
            $(this).html($(this).html()==="编辑"? "取消" : "编辑");
        });
        $("body").on("click", ".wl-btn", function () {
            $(".wl-list a:not(.wl-btn)").editable("toggleDisabled");
            $(this).html($(this).html()==="编辑" ? "取消" : "编辑");
        });
        
