<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <meta charset="UTF-8">
    <title>test nav</title>
</head>
<body>
    <div class="wl-nav">
        <div class="wl-nav-left">
            <a class="wl-head">智度</a>
        </div>
        <div class="wl-nav-right">
            <div class="wl-nav-rup">
                <form action="" class="wl-search">
                    <input type="text" placeholder="Search" class="wl-input">
                    <button type="submit" class="wl-btn">搜索</button>
                </form>
                <ol class="wl-breadcrumb">
                    <li><a href="#">http</a></li>
                    <li><a href="#">qq.com</a></li>
                    <li><a href="#">login.qq.com</a></li>
                </ol>
            </div>
            <div class="wl-nav-rdown">
                <ul class="wl-nav-tab">
                    <li class="wl-list active"><a href="#">列表</a></li>
                    <li class="wl-satisitics"><a href="#">统计</a></li>
                    <li class="wl-message"><a href="#">备注</a></li>
                    <li class="wl-addClass"><a href="#">添加分类</a></li>
                    <li class="wl-addProduct"><a href="#">添加产品</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
